<launch>
    <!-- Parameters defining the discretized world width and height -->
    <param name="/world_width"     value="16" />
    <param name="/world_height"    value="16" />

    <!-- Parameters to define the sleeping position -->
    <param name="/sleep_x_coord" value="-8" />
    <param name="/sleep_y_coord" value="-8" />

    <!-- Parameters to define the interval of time the ball remains hidden on start -->
    <param name="/minimum_time_onstart"      value="30" />
    <param name="/maximum_time_onstart"    value="40" />

    <!-- Parameters to define the interval of time in which the ball ramains hidden -->
    <param name="/minimum_time_in_hide"      value="10" />
    <param name="/maximum_time_in_hide"    value="20" />

    <!-- Parameter to define how many time the ball should move -->
    <param name="/number_of_movements"      value="5" />

    <!-- Parameter to define the robot maximul level of efforts before going to sleep -->
    <param name="/fatigue_threshold" value="5" />

    <!-- Parameter to define the robot maximul time to wait in the Play behavior without
         seeing the Ball                                                                 -->
    <param name="/maximum_dead_time" value="5" />

    <!-- Include the launch file for the Gazebo setup -->
    <include file="$(find robot_simulation_state_machines)/launch/gazebo_world.launch" >
    </include>


</launch>
