<launch>
    <!-- Parameters defining the discretized world width and height -->
    <param name="/world_width"     value="16" />
    <param name="/world_height"    value="16" />

    <!-- Parameters to define the sleeping position -->
    <param name="/sleep_x_coord" value="-8" />
    <param name="/sleep_y_coord" value="-8" />

    <!-- Parameters to define the interval where the person can call the robot to play -->
    <param name="/minum_time_btw_calls"      value="15" />
    <param name="/maximum_time_btw_calls"    value="30" />

    <!-- Parameter to define the robot maximul level of efforts before going to sleep -->
    <param name="/fatigue_threshold" value="5" />

    <!-- Parameter to define the robot maximul level of efforts before going to sleep -->
    <param name="/maximum_dead_time" value="5" />

    <!-- Include the launch file for the Gazebo setup -->
    <include file="$(find robot_simulation_state_machines)/launch/gazebo_world.launch" >
    </include>


</launch>
